doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content

    script(src='//cdn.ckeditor.com/4.4.3/standard/ckeditor.js')
    script(type='text/javascript').
      CKEDITOR.replace('editor');